* {
  box-sizing: border-box; }

.body {
  display: grid;
  grid-template: 100% / max-content 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0px;
  padding: 10px;
  overflow: hidden; }
  .body .main {
    width: 100%;
    height: 100%; }

.controls-layout-container {
  position: sticky;
  top: 10px;
  width: max-content;
  height: max-content;
  display: inline-grid;
  padding: 10px;
  grid-gap: 10px;
  justify-items: center; }
  .controls-layout-container .sort-menu {
    display: grid;
    grid-template: repeat(2, max-content)/repeat(3, max-content);
    grid-gap: 5px;
    justify-items: center;
    align-items: center; }
    .controls-layout-container .sort-menu-button {
      width: 50px;
      height: 25px; }
  .controls-layout-container .filter-menu {
    height: max-content;
    display: grid;
    justify-items: center;
    grid-gap: 5px; }
    .controls-layout-container .filter-menu [class$="filter-container"] {
      padding: 10px;
      display: grid;
      justify-items: center;
      grid-gap: 5px; }
    .controls-layout-container .filter-menu .sex-filter-container .radio-container {
      display: flex; }
    .controls-layout-container .filter-menu .age-filter-container {
      display: grid;
      grid-template: repeat(2, max-content)/repeat(2, max-content);
      justify-items: center;
      align-items: center; }
      .controls-layout-container .filter-menu .age-filter-container .age-input {
        width: 50px; }
      .controls-layout-container .filter-menu .age-filter-container .button-filter {
        grid-area: 2/1/3/3; }
    .controls-layout-container .filter-menu .button-filter {
      width: max-content;
      padding: 5px 10px; }

.friends-container {
  width: 100%;
  height: calc(100% - 20px - 1em);
  display: inline-grid;
  grid-auto-flow: row;
  grid-template: max-content/repeat(auto-fit, 200px);
  grid-gap: 10px; }
  .friends-container .friend-container.hidden {
    visibility: hidden;
    opacity: 0; }
  .friends-container .friend-container {
    transition: opacity 1s, visibility 1s;
    width: 200px;
    height: 290px;
    display: inline-grid;
    justify-items: center;
    grid-template: max-content / 100%;
    grid-gap: 5px; }
    .friends-container .friend-container :nth-child(n+1) {
      padding: 0px 10px; }
    .friends-container .friend-container [class$="-name"] {
      width: 100%;
      text-align: center;
      padding: 5px; }
    .friends-container .friend-container .email {
      width: 100%;
      text-align: center; }

.radio-nav-container {
  display: inline-flex;
  width: 100%;
  justify-content: center; }
  .radio-nav-container .radio-nav-label {
    padding: 2px 5px;
    font-size: 24px; }
  .radio-nav-container .radio-nav-input {
    display: none; }

.body {
  background-color: #014546; }

.controls-layout-container {
  background: url("../img/leaf.svg"), linear-gradient(#001d1e 0%, #014546 100%), #88ccff;
  border-radius: 10px; }
  .controls-layout-container .sort-menu_label {
    color: #cccccc; }
  .controls-layout-container .sort-menu [id$="descending"] {
    background: center/40px 20px no-repeat url("../img/descending-sort-svgrepo-com.svg"), #014546; }
  .controls-layout-container .sort-menu [id$="ascending"] {
    background: center/40px 20px no-repeat url("../img/ascending-sort-svgrepo-com.svg"), #014546; }
  .controls-layout-container .sort-menu-button {
    border: none;
    border-radius: 5px; }
    .controls-layout-container .sort-menu-button:hover {
      cursor: pointer;
      background-color: #236768; }
    .controls-layout-container .sort-menu-button.selected {
      box-shadow: 0px 0px 10px #ff4081; }
  .controls-layout-container .filter-menu {
    /*         .age-input{
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            appearance: textfield;
        } */ }
    .controls-layout-container .filter-menu .age-input,
    .controls-layout-container .filter-menu .name-input {
      background-color: rgba(200, 200, 200, 0.5);
      color: #cccccc;
      font-weight: 600;
      border-radius: 5px; }
      .controls-layout-container .filter-menu .age-input:focus,
      .controls-layout-container .filter-menu .name-input:focus {
        outline: none; }
    .controls-layout-container .filter-menu .age-input {
      text-align: center; }
    .controls-layout-container .filter-menu .sex-filter-container .radio-container .radio-sex-input {
      opacity: 0.5; }
    .controls-layout-container .filter-menu .sex-filter-container .radio-container .sex-filter-label {
      color: #cccccc; }
      .controls-layout-container .filter-menu .sex-filter-container .radio-container .sex-filter-label:hover {
        cursor: pointer; }
    .controls-layout-container .filter-menu input[type="number"]::-webkit-outer-spin-button,
    .controls-layout-container .filter-menu input[type="number"]::-webkit-inner-spin-button {
      display: none; }
    .controls-layout-container .filter-menu .button-filter {
      background-color: #014546;
      border: none;
      border-radius: 5px;
      color: #cccccc;
      letter-spacing: 0.05em; }
      .controls-layout-container .filter-menu .button-filter:hover {
        cursor: pointer;
        background-color: #236768; }

.friends-container .friend-container {
  background: linear-gradient(black 0%, #001d1e 10%, #014546 100%), white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #001d1e;
  color: #cccccc; }
  .friends-container .friend-container [class$="-name"],
  .friends-container .friend-container .email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .friends-container .friend-container [class$="-name"] {
    font-size: 20px; }

.radio-nav-container .radio-nav-label {
  color: #3f51b5; }
  .radio-nav-container .radio-nav-label:hover {
    cursor: pointer;
    color: #5365c9; }
  .radio-nav-container .radio-nav-label.checked {
    color: #ff4081; }

.radio-nav-container .radio-nav-input:checked + .radio-nav-label {
  color: #5365c9; }
