.body {
	display: grid;
	grid-template: 100% / max-content 1fr;
	grid-gap: 10px;
	height: 100vh;
	margin: 0px;
	padding: 10px;

	overflow: hidden;
	.main {
		width: 100%;
		height: 100%;
	}
}
.controls-layout-container {
	position: sticky;
	top: 10px;
	width: max-content;
	height: max-content;
	display: inline-grid;
	padding: 10px;
	grid-gap: 10px;
	justify-items: center;

	.sort-menu {
		display: grid;
		grid-template: repeat(2, max-content) / repeat(3, max-content);
		grid-gap: 5px;
		justify-items: center;
		align-items: center;

		&-button {
			width: 50px;
			height: 25px;
		}
	}

	.filter-menu {
		height: max-content;
		display: grid;
		justify-items: center;
		grid-gap: 5px;

		[class$="filter-container"] {
			padding: 10px;
			display: grid;
			justify-items: center;
			grid-gap: 5px;
		}
		.sex-filter-container {
			.radio-container {
				display: flex;
			}
		}
		.age-filter-container {
			display: grid;
			grid-template: repeat(2, max-content) / repeat(2, max-content);
			justify-items: center;
			align-items: center;

			.age-input {
				width: 50px;
			}
			.button-filter {
				grid-area: 2/1/3/3;
			}
		}
		.button-filter {
			width: max-content;
			padding: 5px 10px;
		}
	}
}
.friends-container {
	width: 100%;
	height: calc(100% - 20px - 1em);
	display: inline-grid;
	grid-auto-flow: row;
	grid-template: max-content / repeat(auto-fit, 200px);
	grid-gap: 10px;
	.friend-container.hidden {
		visibility: hidden;
		opacity: 0;
	}

	.friend-container {
		transition: opacity 1s, visibility 1s;

		width: 200px;
		height: 290px;
		display: inline-grid;
		justify-items: center;
		grid-template: max-content / 100%;
		grid-gap: 5px;
        :nth-child(n+1){
            padding: 0px 10px;
        }
		[class$="-name"] {
			width: 100%;
			text-align: center;
			padding: 5px;
		}
		.email {
			width: 100%;
			text-align: center;
		}
	}
}

.radio-nav-container {
	display: inline-flex;
	width: 100%;
	justify-content: center;
    .pagination-dots{
        &.hidden{
            display: none;
        }
    }
	.radio-nav-label {
		padding: 2px 5px;
		font-size: 24px;
        &.hidden-page-number{
            display:none;
        }
	}
	.radio-nav-input {
		display: none;
	}
}

